html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  font-size: 100%;
  caret-color: transparent;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

body {
  background-color: #f0f3f4;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 768px;
  width: 1366px;
  margin: 0 auto;
  background: inherit;
  background-image: url("Aflac_landing_page_v2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  clip-path: inset(0% 1%);
  /*background-color: #01A7E1;*/
}

h1.page-title {
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 52px;
  margin: 20px;
  color: white;
  background: transparent;
  background-color: transparent;
}

.beatbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*  border: 1px solid black;
  background-color: black;*/
  margin-top: 320px;
  margin-left:4px
}

.beatbox ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.beat-row {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.beat-row li {
  height: 22px;
  width: 22px;
  margin: 3.5px;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 2px;
  background-color: white;
  transition: 0.2s;
}

.beat-row li:hover {
  cursor: pointer;
}

li.active {
  height: 22px;
  width: 22px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 12px #F89728;
  border: 1px solid #F89728;
  border-radius: 2px;
  transition: 0.2s;
}

.beat-row-label {
/*  width: 48px!important; */
  width: auto!important;
  background-color: transparent!important;
  border: 0.5px solid transparent!important;
  border-radius: 0px!important;
  cursor: default!important;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 350;
  text-align: center;
  line-height: 2.0;
  color: white;
}

.beat-track-selector {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  width: 58px!important;
  background-color: transparent!important;;
  background: url(../assets/caret-down-white-outline.svg) no-repeat right center;
  background-size: contain;
  border: 0.5px solid transparent!important;;
  border-radius: 0px!important;
  border-bottom: 0.5px solid white!important;;
  cursor: default!important;
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-size: x-small;
  font-weight: 350;
  color: white;
}

.fa {
  color: #f32a29;
  font-size: 16px!important;
  transition: 0.5s;
}

.fa:hover {
  cursor: pointer;
  transition: 0.5s;
}

.controller {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding-top: 36px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 16px;
  background-color: black;
  opacity: 0.6;
}

li.on {
  background-color: #F89728;
  border: 1px solid #F89728;
}

div.logo {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 9px;
  position:absolute;
  top: 20px;
  left: 20px;
}

i.off {
  display: none;
}

.tempo {
  display: none;
/*  display: flex;*/
  flex-direction: column;
  align-items: center;
  margin: 25px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  color: white;
  visibility: hidden;
}

#tempo {
  margin: 25px;
  width: 200px;
}
